footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width:590){
    .all{
        margin: 5%;
        padding: 1%;
    }
    
}
.all{
    flex: 1 0 auto;
    background-color: rgba(121, 99, 124, 0.925);
    margin: 10%;
    padding: 2%;
    
}

header{
    display: flex;
}
.menu{
    position: relative;


}
.color_bold{
    position: relative;
    background-color: blue;
    text-align: center;
	width: 100%;
    color: rgb(251, 250, 252);
    margin: auto;
    font-weight: bold;
    background-attachment: scroll;
}

body{
    background: url(../img/kosmos-2.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.warning{
    flex: 1 0 auto;
    position: relative;
    color: rgb(214, 142, 142);
    background-color: rgb(226, 23, 23);
    
}

.italic{
    color: rgb(154, 170, 12);
    
}

.picture{
    position: relative;
    max-height: 50%;
    max-width: 100%;
}

.underline_1{
    position: relative;
    left: 0;
    text-align: center;
    outline-style: double;
    background-color: rgba(148, 0, 211, 0.322);
}

#pic1{
    position: relative;
    top: 5%;
    left: 50%;

}
.planet{
    text-decoration:underline;
    text-indent: 40px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(56, 127, 197);
    color: rgb(238, 226, 211);
}
.hole{
    color: darkred;

    
}